@model BookStoreApp.Models.Course

@{
    ViewData["Title"] = "Add Course";
}

<h2>Add Course Details</h2>

<form asp-controller="Course" asp-action="AddCourse" method="post">
    <div class="form-group">
        <label for="CourseName">Course Name</label>
        <input type="text" class="form-control" id="CourseName" name="CourseName" placeholder="Enter Course Name" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" placeholder="Enter Description" required>
    </div>
    <div class="form-group">
        <label for="Duration">Duration</label>
        <input type="text" class="form-control" id="Duration" name="Duration" placeholder="Enter Duration" required>
    </div>
     <div class="form-group">
        <label for="Cost">Cost</label>
        <input type="text" class="form-control" id="Cost" name="Cost" placeholder="Enter Cost" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Course</button>
</form>
